@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  